
<!DOCTYPE html>
<html lang="en">
<head>
    <title>EJS App</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body class="d-flex flex-column">
    <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
            <h1 class="font-weight-light mt-4 text-white">Rendering json data EJS project</h1>
      <div class="container text-center">
        <small>Copyright &copy; Yohannes Ejs practice</small>
      </div>
    </footer>
  </body>
</html>
